<footer class="mdui-m-t-5">
    <div class="mdui-card">
        <div class="mdui-card-content mdui-shadow-0 mdui-p-a-5">
            <div class="mdui-container">
                <div class="mdui-row-sm-3 k-footer-sns">
                    
                    <div class="mdui-col mdui-text-center" style="line-height:48px">
                        <script>var fd=new Date;document.write("&nbsp;"+fd.getFullYear()+"&nbsp;")</script> © {{site.title}}
                    </div>
                    
                       
                        {% if site.data.site.deploy == "coding" %}
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
