{% if  site.data.site.lang == 'ru-RU' %}
{% assign lang = site.data.lang[site.data.site.lang] %}
{% else %}
{% assign lang = site.data.lang.en-US %}
{% endif %}
<style>
.k-lastupdate{
    color: #000000;
    background: #ffffc0;
    border-left: 5px solid #fff000;
    cursor: default;
    text-transform: none;
    text-overflow: ellipsis;
}
.k-lastupdate:hover{
    background: #ffffc0;
}
.k-lastupdate:active{
    background: #ffffc0 !important;
}
</style>

<a class="mdui-btn mdui-btn-block k-lastupdate" id="k-difference"  href="javascript:;"></a>
<script>
var date1=Date.parse($('.k-page-date').attr('date'));
var date2=new Date();
var date3=date2.getTime()-date1;

var days=Math.floor(date3/(24*3600*1000));

if (days>= 100){
    $('#k-difference').html("{{lang.lastupdate.one}} "+ days +" {{lang.lastupdate.two}}");
}else{
    $('#k-difference').hide();
}
</script>