{% if  site.data.site.lang == 'ru-RU' %}
{% assign lang = site.data.lang[site.data.site.lang] %}
{% else %}
{% assign lang = site.data.lang.en-US %}
{% endif %}
<script src="https://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="//cdn.jsdelivr.net/npm/valine@1.1.6/dist/Valine.min.js"></script>
<div  style="padding:0px 16px;" class="comment"></div>
<script>
    new Valine({
        av: AV,
        el: '.comment',
        notify: {{site.data.site.comment.valine_notify}},
        verify: {{site.data.site.comment.valine_verify}},
        app_id: '{{site.data.site.comment.valine_app_id}}', 
        app_key: '{{site.data.site.comment.valine_app_key}}', 
        placeholder: '{{site.data.site.comment.valine_placeholder}}' 
    });
</script>