{% if  site.data.site.lang == 'ru-RU' %}
{% assign lang = site.data.lang[site.data.site.lang] %}
{% else %}
{% assign lang = site.data.lang.en-US %}
{% endif %}
{% capture categories %}		
{% for c in site.categories %}		
{{c[0]}}		
{% endfor %}		
{% endcapture %}		
{% assign sortedcategories = categories | split:' ' | sort %}
<style>
.textarea-wrap{
  height: 100%;
}
#preview{
     max-width: 904px;
}
.k-post-media {
    display:block
    cursor: pointer;
    max-height: 245px;
    min-height: 245px;
    background-position: 50% 50%;
    background-size: cover;
    background-color: white;
}
.k-post-media .mdui-card-primary-title a {
    text-decoration: none;
}
</style>
<div class="k-posts-list"></div>
<div class="k-container">
<div class="mdui-dialog" id="frontMatter">
    <div class="mdui-dialog-content">
      <div class="mdui-dialog-title">{{lang.editor.frontmatter.name}}</div>
        <h3>{{lang.editor.frontmatter.title}}</h3>
        <div class="mdui-textfield">
            <input id="editorTitle" class="mdui-textfield-input" type="text"/>
        </div>
        <h3>{{lang.editor.frontmatter.date}}</h3>
        <div class="mdui-textfield">
            <input id="editorDate" class="mdui-textfield-input datepicker" type="date"/>
        </div>
        <h3>{{lang.editor.frontmatter.categories}}</h3>
        <div class="mdui-row-md-4 mdui-row-sm-3">
            {% for c in sortedcategories %}
            <div class="mdui-col">
                <label class="mdui-radio">
                    <input type="radio" value="{{c}}" name="categories">
                    <i class="mdui-radio-icon"></i>
                    {{c}}
                </label>
            </div>
            {% endfor %}
            <div class="mdui-col">
                <label id="radio_custom" class="mdui-radio mdui-float-left">
                    <input type="radio" value="radio_custom" name="categories">
                    <i class="mdui-radio-icon"></i>
                    </label>
                <div style="padding-top: 0px;" class="mdui-textfield">
                    <input id="editorCategories" class="mdui-textfield-input" name="radio_custom" type="text" placeholder="categories">
                </div>
            </div>
        </div>
        <h3>{{lang.editor.frontmatter.tags}}</h3>
        <div class="chips chips-initial"></div>
        <h3>{{lang.editor.frontmatter.image}}</h3>
        <div class="mdui-textfield">
            <input id="imgurl" class="mdui-textfield-input" type="text" placeholder="imgUrl"> 
        </div>
    </div>
</div>

<div class="mdui-dialog" id="preview">
    <div class="mdui-dialog-content">
      <div class="mdui-dialog-title">{{lang.editor.preview}}</div>
      <div class="mdui-card k-postcontent">
        <div class="mdui-card-media k-post-media">
          <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
            <div class="mdui-card-primary">
              <div class="mdui-card-primary-title">

              </div>
            </div>
          </div>
        </div>
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="{{site.data.site.img.avatar}}">
          <div class="mdui-card-header-title">{{site.author}}</div>
          <div class="mdui-card-header-subtitle k-data"></div>
        </div>
        <div class="mdui-card-content mdui-typo" id="previewContent"></div>
      </div>
    </div>
</div>

<div class="mdui-card">
    <div class="mdui-card-content">
        <h3>{{lang.editor.content}}</h3>
        <div class="mdui-textfield">
            <textarea id="editorContent" class="mdui-textfield-input" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="mdui-card-actions">
        <a class="mdui-btn mdui-ripple" mdui-dialog="{target: '#frontMatter'}">{{lang.editor.frontmatter.name}}</a>
        <a id="previewBtn" class="mdui-btn mdui-ripple" mdui-dialog="{target: '#preview'}">{{lang.editor.preview}}</a>
        <a id="download" class="mdui-btn mdui-ripple mdui-float-right">{{lang.editor.download}}</a>
    </div>
</div>
</div>

<!--marked-->
<script>
(function () {
    var block = {
        newline: /^\n+/,
        code: /^( {4}[^\n]+\n*)+/,
        fences: noop,
        hr: /^( *[-*_]){3,} *(?:\n+|$)/,
        heading: /^ *(#{1,6}) *([^\n]+?) *#* *(?:\n+|$)/,
        nptable: noop,
        lheading: /^([^\n]+)\n *(=|-){2,} *(?:\n+|$)/,
        blockquote: /^( *>[^\n]+(\n(?!def)[^\n]+)*\n*)+/,
        list: /^( *)(bull) [\s\S]+?(?:hr|def|\n{2,}(?! )(?!\1bull )\n*|\s*$)/,
        html: /^ *(?:comment *(?:\n|\s*$)|closed *(?:\n{2,}|\s*$)|closing *(?:\n{2,}|\s*$))/,
        def: /^ *\[([^\]]+)\]: *<?([^\s>]+)>?(?: +["(]([^\n]+)[")])? *(?:\n+|$)/,
        table: noop,
        paragraph: /^((?:[^\n]+\n?(?!hr|heading|lheading|blockquote|tag|def))+)\n*/,
        text: /^[^\n]+/
    };
    block.bullet = /(?:[*+-]|\d+\.)/;
    block.item = /^( *)(bull) [^\n]*(?:\n(?!\1bull )[^\n]*)*/;
    block.item = replace(block.item, "gm")(/bull/g, block.bullet)();
    block.list = replace(block.list)(/bull/g, block.bullet)("hr", "\\n+(?=\\1?(?:[-*_] *){3,}(?:\\n+|$))")("def", "\\n+(?=" + block.def.source + ")")();
    block.blockquote = replace(block.blockquote)("def", block.def)();
    block._tag = "(?!(?:" + "a|em|strong|small|s|cite|q|dfn|abbr|data|time|code" + "|var|samp|kbd|sub|sup|i|b|u|mark|ruby|rt|rp|bdi|bdo" + "|span|br|wbr|ins|del|img)\\b)\\w+(?!:/|[^\\w\\s@]*@)\\b";
    block.html = replace(block.html)("comment", /<!--[\s\S]*?-->/)("closed", /<(tag)[\s\S]+?<\/\1>/)("closing", /<tag(?:"[^"]*"|'[^']*'|[^'">])*?>/)(/tag/g, block._tag)();
    block.paragraph = replace(block.paragraph)("hr", block.hr)("heading", block.heading)("lheading", block.lheading)("blockquote", block.blockquote)("tag", "<" + block._tag)("def", block.def)();
    block.normal = merge({}, block);
    block.gfm = merge({}, block.normal, {
        fences: /^ *(`{3,}|~{3,})[ \.]*(\S+)? *\n([\s\S]*?)\s*\1 *(?:\n+|$)/,
        paragraph: /^/,
        heading: /^ *(#{1,6}) +([^\n]+?) *#* *(?:\n+|$)/
    });
    block.gfm.paragraph = replace(block.paragraph)("(?!", "(?!" + block.gfm.fences.source.replace("\\1", "\\2") + "|" + block.list.source.replace("\\1", "\\3") + "|")();
    block.tables = merge({}, block.gfm, {
        nptable: /^ *(\S.*\|.*)\n *([-:]+ *\|[-| :]*)\n((?:.*\|.*(?:\n|$))*)\n*/,
        table: /^ *\|(.+)\n *\|( *[-:]+[-| :]*)\n((?: *\|.*(?:\n|$))*)\n*/
    });

    function Lexer(options) {
        this.tokens = [];
        this.tokens.links = {};
        this.options = options || marked.defaults;
        this.rules = block.normal;
        if (this.options.gfm) {
            if (this.options.tables) {
                this.rules = block.tables
            } else {
                this.rules = block.gfm
            }
        }
    }
    Lexer.rules = block;
    Lexer.lex = function (src, options) {
        var lexer = new Lexer(options);
        return lexer.lex(src)
    };
    Lexer.prototype.lex = function (src) {
        src = src.replace(/\r\n|\r/g, "\n").replace(/\t/g, "    ").replace(/\u00a0/g, " ").replace(/\u2424/g, "\n");
        return this.token(src, true)
    };
    Lexer.prototype.token = function (src, top, bq) {
        var src = src.replace(/^ +$/gm, ""),
            next, loose, cap, bull, b, item, space, i, l;
        while (src) {
            if (cap = this.rules.newline.exec(src)) {
                src = src.substring(cap[0].length);
                if (cap[0].length > 1) {
                    this.tokens.push({
                        type: "space"
                    })
                }
            }
            if (cap = this.rules.code.exec(src)) {
                src = src.substring(cap[0].length);
                cap = cap[0].replace(/^ {4}/gm, "");
                this.tokens.push({
                    type: "code",
                    text: !this.options.pedantic ? cap.replace(/\n+$/, "") : cap
                });
                continue
            }
            if (cap = this.rules.fences.exec(src)) {
                src = src.substring(cap[0].length);
                this.tokens.push({
                    type: "code",
                    lang: cap[2],
                    text: cap[3] || ""
                });
                continue
            }
            if (cap = this.rules.heading.exec(src)) {
                src = src.substring(cap[0].length);
                this.tokens.push({
                    type: "heading",
                    depth: cap[1].length,
                    text: cap[2]
                });
                continue
            }
            if (top && (cap = this.rules.nptable.exec(src))) {
                src = src.substring(cap[0].length);
                item = {
                    type: "table",
                    header: cap[1].replace(/^ *| *\| *$/g, "").split(/ *\| */),
                    align: cap[2].replace(/^ *|\| *$/g, "").split(/ *\| */),
                    cells: cap[3].replace(/\n$/, "").split("\n")
                };
                for (i = 0; i < item.align.length; i++) {
                    if (/^ *-+: *$/.test(item.align[i])) {
                        item.align[i] = "right"
                    } else {
                        if (/^ *:-+: *$/.test(item.align[i])) {
                            item.align[i] = "center"
                        } else {
                            if (/^ *:-+ *$/.test(item.align[i])) {
                                item.align[i] = "left"
                            } else {
                                item.align[i] = null
                            }
                        }
                    }
                }
                for (i = 0; i < item.cells.length; i++) {
                    item.cells[i] = item.cells[i].split(/ *\| */)
                }
                this.tokens.push(item);
                continue
            }
            if (cap = this.rules.lheading.exec(src)) {
                src = src.substring(cap[0].length);
                this.tokens.push({
                    type: "heading",
                    depth: cap[2] === "=" ? 1 : 2,
                    text: cap[1]
                });
                continue
            }
            if (cap = this.rules.hr.exec(src)) {
                src = src.substring(cap[0].length);
                this.tokens.push({
                    type: "hr"
                });
                continue
            }
            if (cap = this.rules.blockquote.exec(src)) {
                src = src.substring(cap[0].length);
                this.tokens.push({
                    type: "blockquote_start"
                });
                cap = cap[0].replace(/^ *> ?/gm, "");
                this.token(cap, top, true);
                this.tokens.push({
                    type: "blockquote_end"
                });
                continue
            }
            if (cap = this.rules.list.exec(src)) {
                src = src.substring(cap[0].length);
                bull = cap[2];
                this.tokens.push({
                    type: "list_start",
                    ordered: bull.length > 1
                });
                cap = cap[0].match(this.rules.item);
                next = false;
                l = cap.length;
                i = 0;
                for (; i < l; i++) {
                    item = cap[i];
                    space = item.length;
                    item = item.replace(/^ *([*+-]|\d+\.) +/, "");
                    if (~item.indexOf("\n ")) {
                        space -= item.length;
                        item = !this.options.pedantic ? item.replace(new RegExp("^ {1," + space + "}", "gm"), "") : item.replace(/^ {1,4}/gm, "")
                    }
                    if (this.options.smartLists && i !== l - 1) {
                        b = block.bullet.exec(cap[i + 1])[0];
                        if (bull !== b && !(bull.length > 1 && b.length > 1)) {
                            src = cap.slice(i + 1).join("\n") + src;
                            i = l - 1
                        }
                    }
                    loose = next || /\n\n(?!\s*$)/.test(item);
                    if (i !== l - 1) {
                        next = item.charAt(item.length - 1) === "\n";
                        if (!loose) {
                            loose = next
                        }
                    }
                    this.tokens.push({
                        type: loose ? "loose_item_start" : "list_item_start"
                    });
                    this.token(item, false, bq);
                    this.tokens.push({
                        type: "list_item_end"
                    })
                }
                this.tokens.push({
                    type: "list_end"
                });
                continue
            }
            if (cap = this.rules.html.exec(src)) {
                src = src.substring(cap[0].length);
                this.tokens.push({
                    type: this.options.sanitize ? "paragraph" : "html",
                    pre: !this.options.sanitizer && (cap[1] === "pre" || cap[1] === "script" || cap[1] === "style"),
                    text: cap[0]
                });
                continue
            }
            if ((!bq && top) && (cap = this.rules.def.exec(src))) {
                src = src.substring(cap[0].length);
                this.tokens.links[cap[1].toLowerCase()] = {
                    href: cap[2],
                    title: cap[3]
                };
                continue
            }
            if (top && (cap = this.rules.table.exec(src))) {
                src = src.substring(cap[0].length);
                item = {
                    type: "table",
                    header: cap[1].replace(/^ *| *\| *$/g, "").split(/ *\| */),
                    align: cap[2].replace(/^ *|\| *$/g, "").split(/ *\| */),
                    cells: cap[3].replace(/(?: *\| *)?\n$/, "").split("\n")
                };
                for (i = 0; i < item.align.length; i++) {
                    if (/^ *-+: *$/.test(item.align[i])) {
                        item.align[i] = "right"
                    } else {
                        if (/^ *:-+: *$/.test(item.align[i])) {
                            item.align[i] = "center"
                        } else {
                            if (/^ *:-+ *$/.test(item.align[i])) {
                                item.align[i] = "left"
                            } else {
                                item.align[i] = null
                            }
                        }
                    }
                }
                for (i = 0; i < item.cells.length; i++) {
                    item.cells[i] = item.cells[i].replace(/^ *\| *| *\| *$/g, "").split(/ *\| */)
                }
                this.tokens.push(item);
                continue
            }
            if (top && (cap = this.rules.paragraph.exec(src))) {
                src = src.substring(cap[0].length);
                this.tokens.push({
                    type: "paragraph",
                    text: cap[1].charAt(cap[1].length - 1) === "\n" ? cap[1].slice(0, -1) : cap[1]
                });
                continue
            }
            if (cap = this.rules.text.exec(src)) {
                src = src.substring(cap[0].length);
                this.tokens.push({
                    type: "text",
                    text: cap[0]
                });
                continue
            }
            if (src) {
                throw new Error("Infinite loop on byte: " + src.charCodeAt(0))
            }
        }
        return this.tokens
    };
    var inline = {
        escape: /^\\([\\`*{}\[\]()#+\-.!_>])/,
        autolink: /^<([^ >]+(@|:\/)[^ >]+)>/,
        url: noop,
        tag: /^<!--[\s\S]*?-->|^<\/?\w+(?:"[^"]*"|'[^']*'|[^'">])*?>/,
        link: /^!?\[(inside)\]\(href\)/,
        reflink: /^!?\[(inside)\]\s*\[([^\]]*)\]/,
        nolink: /^!?\[((?:\[[^\]]*\]|[^\[\]])*)\]/,
        strong: /^__([\s\S]+?)__(?!_)|^\*\*([\s\S]+?)\*\*(?!\*)/,
        em: /^\b_((?:[^_]|__)+?)_\b|^\*((?:\*\*|[\s\S])+?)\*(?!\*)/,
        code: /^(`+)\s*([\s\S]*?[^`])\s*\1(?!`)/,
        br: /^ {2,}\n(?!\s*$)/,
        del: noop,
        text: /^[\s\S]+?(?=[\\<!\[_*`]| {2,}\n|$)/
    };
    inline._inside = /(?:\[[^\]]*\]|[^\[\]]|\](?=[^\[]*\]))*/;
    inline._href = /\s*<?([\s\S]*?)>?(?:\s+['"]([\s\S]*?)['"])?\s*/;
    inline.link = replace(inline.link)("inside", inline._inside)("href", inline._href)();
    inline.reflink = replace(inline.reflink)("inside", inline._inside)();
    inline.normal = merge({}, inline);
    inline.pedantic = merge({}, inline.normal, {
        strong: /^__(?=\S)([\s\S]*?\S)__(?!_)|^\*\*(?=\S)([\s\S]*?\S)\*\*(?!\*)/,
        em: /^_(?=\S)([\s\S]*?\S)_(?!_)|^\*(?=\S)([\s\S]*?\S)\*(?!\*)/
    });
    inline.gfm = merge({}, inline.normal, {
        escape: replace(inline.escape)("])", "~|])")(),
        url: /^(https?:\/\/[^\s<]+[^<.,:;"')\]\s])/,
        del: /^~~(?=\S)([\s\S]*?\S)~~/,
        text: replace(inline.text)("]|", "~]|")("|", "|https?://|")()
    });
    inline.breaks = merge({}, inline.gfm, {
        br: replace(inline.br)("{2,}", "*")(),
        text: replace(inline.gfm.text)("{2,}", "*")()
    });

    function InlineLexer(links, options) {
        this.options = options || marked.defaults;
        this.links = links;
        this.rules = inline.normal;
        this.renderer = this.options.renderer || new Renderer;
        this.renderer.options = this.options;
        if (!this.links) {
            throw new Error("Tokens array requires a `links` property.")
        }
        if (this.options.gfm) {
            if (this.options.breaks) {
                this.rules = inline.breaks
            } else {
                this.rules = inline.gfm
            }
        } else {
            if (this.options.pedantic) {
                this.rules = inline.pedantic
            }
        }
    }
    InlineLexer.rules = inline;
    InlineLexer.output = function (src, links, options) {
        var inline = new InlineLexer(links, options);
        return inline.output(src)
    };
    InlineLexer.prototype.output = function (src) {
        var out = "",
            link, text, href, cap;
        while (src) {
            if (cap = this.rules.escape.exec(src)) {
                src = src.substring(cap[0].length);
                out += cap[1];
                continue
            }
            if (cap = this.rules.autolink.exec(src)) {
                src = src.substring(cap[0].length);
                if (cap[2] === "@") {
                    text = cap[1].charAt(6) === ":" ? this.mangle(cap[1].substring(7)) : this.mangle(cap[1]);
                    href = this.mangle("mailto:") + text
                } else {
                    text = escape(cap[1]);
                    href = text
                }
                out += this.renderer.link(href, null, text);
                continue
            }
            if (!this.inLink && (cap = this.rules.url.exec(src))) {
                src = src.substring(cap[0].length);
                text = escape(cap[1]);
                href = text;
                out += this.renderer.link(href, null, text);
                continue
            }
            if (cap = this.rules.tag.exec(src)) {
                if (!this.inLink && /^<a /i.test(cap[0])) {
                    this.inLink = true
                } else {
                    if (this.inLink && /^<\/a>/i.test(cap[0])) {
                        this.inLink = false
                    }
                }
                src = src.substring(cap[0].length);
                out += this.options.sanitize ? this.options.sanitizer ? this.options.sanitizer(cap[0]) : escape(cap[0]) : cap[0];
                continue
            }
            if (cap = this.rules.link.exec(src)) {
                src = src.substring(cap[0].length);
                this.inLink = true;
                out += this.outputLink(cap, {
                    href: cap[2],
                    title: cap[3]
                });
                this.inLink = false;
                continue
            }
            if ((cap = this.rules.reflink.exec(src)) || (cap = this.rules.nolink.exec(src))) {
                src = src.substring(cap[0].length);
                link = (cap[2] || cap[1]).replace(/\s+/g, " ");
                link = this.links[link.toLowerCase()];
                if (!link || !link.href) {
                    out += cap[0].charAt(0);
                    src = cap[0].substring(1) + src;
                    continue
                }
                this.inLink = true;
                out += this.outputLink(cap, link);
                this.inLink = false;
                continue
            }
            if (cap = this.rules.strong.exec(src)) {
                src = src.substring(cap[0].length);
                out += this.renderer.strong(this.output(cap[2] || cap[1]));
                continue
            }
            if (cap = this.rules.em.exec(src)) {
                src = src.substring(cap[0].length);
                out += this.renderer.em(this.output(cap[2] || cap[1]));
                continue
            }
            if (cap = this.rules.code.exec(src)) {
                src = src.substring(cap[0].length);
                out += this.renderer.codespan(escape(cap[2], true));
                continue
            }
            if (cap = this.rules.br.exec(src)) {
                src = src.substring(cap[0].length);
                out += this.renderer.br();
                continue
            }
            if (cap = this.rules.del.exec(src)) {
                src = src.substring(cap[0].length);
                out += this.renderer.del(this.output(cap[1]));
                continue
            }
            if (cap = this.rules.text.exec(src)) {
                src = src.substring(cap[0].length);
                out += this.renderer.text(escape(this.smartypants(cap[0])));
                continue
            }
            if (src) {
                throw new Error("Infinite loop on byte: " + src.charCodeAt(0))
            }
        }
        return out
    };
    InlineLexer.prototype.outputLink = function (cap, link) {
        var href = escape(link.href),
            title = link.title ? escape(link.title) : null;
        return cap[0].charAt(0) !== "!" ? this.renderer.link(href, title, this.output(cap[1])) : this.renderer.image(href, title, escape(cap[1]))
    };
    InlineLexer.prototype.smartypants = function (text) {
        if (!this.options.smartypants) {
            return text
        }
        return text.replace(/---/g, "\u2014").replace(/--/g, "\u2013").replace(/(^|[-\u2014/(\[{"\s])'/g, "$1\u2018").replace(/'/g, "\u2019").replace(/(^|[-\u2014/(\[{\u2018\s])"/g, "$1\u201c").replace(/"/g, "\u201d").replace(/\.{3}/g, "\u2026")
    };
    InlineLexer.prototype.mangle = function (text) {
        if (!this.options.mangle) {
            return text
        }
        var out = "",
            l = text.length,
            i = 0,
            ch;
        for (; i < l; i++) {
            ch = text.charCodeAt(i);
            if (Math.random() > 0.5) {
                ch = "x" + ch.toString(16)
            }
            out += "&#" + ch + ";"
        }
        return out
    };

    function Renderer(options) {
        this.options = options || {}
    }
    Renderer.prototype.code = function (code, lang, escaped) {
        if (this.options.highlight) {
            var out = this.options.highlight(code, lang);
            if (out != null && out !== code) {
                escaped = true;
                code = out
            }
        }
        if (!lang) {
            return "<pre><code>" + (escaped ? code : escape(code, true)) + "\n</code></pre>"
        }
        return '<pre><code class="' + this.options.langPrefix + escape(lang, true) + '">' + (escaped ? code : escape(code, true)) + "\n</code></pre>\n"
    };
    Renderer.prototype.blockquote = function (quote) {
        return "<blockquote>\n" + quote + "</blockquote>\n"
    };
    Renderer.prototype.html = function (html) {
        return html
    };
    Renderer.prototype.heading = function (text, level, raw) {
        return "<h" + level + ' id="' + this.options.headerPrefix + raw.toLowerCase().replace(/[^\w]+/g, "-") + '">' + text + "</h" + level + ">\n"
    };
    Renderer.prototype.hr = function () {
        return this.options.xhtml ? "<hr/>\n" : "<hr>\n"
    };
    Renderer.prototype.list = function (body, ordered) {
        var type = ordered ? "ol" : "ul";
        return "<" + type + ">\n" + body + "</" + type + ">\n"
    };
    Renderer.prototype.listitem = function (text) {
        return "<li>" + text + "</li>\n"
    };
    Renderer.prototype.paragraph = function (text) {
        return "<p>" + text + "</p>\n"
    };
    Renderer.prototype.table = function (header, body) {
        return "<table>\n" + "<thead>\n" + header + "</thead>\n" + "<tbody>\n" + body + "</tbody>\n" + "</table>\n"
    };
    Renderer.prototype.tablerow = function (content) {
        return "<tr>\n" + content + "</tr>\n"
    };
    Renderer.prototype.tablecell = function (content, flags) {
        var type = flags.header ? "th" : "td";
        var tag = flags.align ? "<" + type + ' style="text-align:' + flags.align + '">' : "<" + type + ">";
        return tag + content + "</" + type + ">\n"
    };
    Renderer.prototype.strong = function (text) {
        return "<strong>" + text + "</strong>"
    };
    Renderer.prototype.em = function (text) {
        return "<em>" + text + "</em>"
    };
    Renderer.prototype.codespan = function (text) {
        return "<code>" + text + "</code>"
    };
    Renderer.prototype.br = function () {
        return this.options.xhtml ? "<br/>" : "<br>"
    };
    Renderer.prototype.del = function (text) {
        return "<del>" + text + "</del>"
    };
    Renderer.prototype.link = function (href, title, text) {
        if (this.options.sanitize) {
            try {
                var prot = decodeURIComponent(unescape(href)).replace(/[^\w:]/g, "").toLowerCase()
            } catch (e) {
                return ""
            }
            if (prot.indexOf("javascript:") === 0 || prot.indexOf("vbscript:") === 0 || prot.indexOf("data:") === 0) {
                return ""
            }
        }
        var out = '<a href="' + href + '"';
        if (title) {
            out += ' title="' + title + '"'
        }
        out += ">" + text + "</a>";
        return out
    };
    Renderer.prototype.image = function (href, title, text) {
        var out = '<img src="' + href + '" alt="' + text + '"';
        if (title) {
            out += ' title="' + title + '"'
        }
        out += this.options.xhtml ? "/>" : ">";
        return out
    };
    Renderer.prototype.text = function (text) {
        return text
    };

    function Parser(options) {
        this.tokens = [];
        this.token = null;
        this.options = options || marked.defaults;
        this.options.renderer = this.options.renderer || new Renderer;
        this.renderer = this.options.renderer;
        this.renderer.options = this.options
    }
    Parser.parse = function (src, options, renderer) {
        var parser = new Parser(options, renderer);
        return parser.parse(src)
    };
    Parser.prototype.parse = function (src) {
        this.inline = new InlineLexer(src.links, this.options, this.renderer);
        this.tokens = src.reverse();
        var out = "";
        while (this.next()) {
            out += this.tok()
        }
        return out
    };
    Parser.prototype.next = function () {
        return this.token = this.tokens.pop()
    };
    Parser.prototype.peek = function () {
        return this.tokens[this.tokens.length - 1] || 0
    };
    Parser.prototype.parseText = function () {
        var body = this.token.text;
        while (this.peek().type === "text") {
            body += "\n" + this.next().text
        }
        return this.inline.output(body)
    };
    Parser.prototype.tok = function () {
        switch (this.token.type) {
            case "space":
                return "";
            case "hr":
                return this.renderer.hr();
            case "heading":
                return this.renderer.heading(this.inline.output(this.token.text), this.token.depth, this.token.text);
            case "code":
                return this.renderer.code(this.token.text, this.token.lang, this.token.escaped);
            case "table":
                var header = "",
                    body = "",
                    i, row, cell, flags, j;
                cell = "";
                for (i = 0; i < this.token.header.length; i++) {
                    flags = {
                        header: true,
                        align: this.token.align[i]
                    };
                    cell += this.renderer.tablecell(this.inline.output(this.token.header[i]), {
                        header: true,
                        align: this.token.align[i]
                    })
                }
                header += this.renderer.tablerow(cell);
                for (i = 0; i < this.token.cells.length; i++) {
                    row = this.token.cells[i];
                    cell = "";
                    for (j = 0; j < row.length; j++) {
                        cell += this.renderer.tablecell(this.inline.output(row[j]), {
                            header: false,
                            align: this.token.align[j]
                        })
                    }
                    body += this.renderer.tablerow(cell)
                }
                return this.renderer.table(header, body);
            case "blockquote_start":
                var body = "";
                while (this.next().type !== "blockquote_end") {
                    body += this.tok()
                }
                return this.renderer.blockquote(body);
            case "list_start":
                var body = "",
                    ordered = this.token.ordered;
                while (this.next().type !== "list_end") {
                    body += this.tok()
                }
                return this.renderer.list(body, ordered);
            case "list_item_start":
                var body = "";
                while (this.next().type !== "list_item_end") {
                    body += this.token.type === "text" ? this.parseText() : this.tok()
                }
                return this.renderer.listitem(body);
            case "loose_item_start":
                var body = "";
                while (this.next().type !== "list_item_end") {
                    body += this.tok()
                }
                return this.renderer.listitem(body);
            case "html":
                var html = !this.token.pre && !this.options.pedantic ? this.inline.output(this.token.text) : this.token.text;
                return this.renderer.html(html);
            case "paragraph":
                return this.renderer.paragraph(this.inline.output(this.token.text));
            case "text":
                return this.renderer.paragraph(this.parseText())
        }
    };

    function escape(html, encode) {
        return html.replace(!encode ? /&(?!#?\w+;)/g : /&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#39;")
    }

    function unescape(html) {
        return html.replace(/&(#(?:\d+)|(?:#x[0-9A-Fa-f]+)|(?:\w+));?/g, function (_, n) {
            n = n.toLowerCase();
            if (n === "colon") {
                return ":"
            }
            if (n.charAt(0) === "#") {
                return n.charAt(1) === "x" ? String.fromCharCode(parseInt(n.substring(2), 16)) : String.fromCharCode(+n.substring(1))
            }
            return ""
        })
    }

    function replace(regex, opt) {
        regex = regex.source;
        opt = opt || "";
        return function self(name, val) {
            if (!name) {
                return new RegExp(regex, opt)
            }
            val = val.source || val;
            val = val.replace(/(^|[^\[])\^/g, "$1");
            regex = regex.replace(name, val);
            return self
        }
    }

    function noop() {}
    noop.exec = noop;

    function merge(obj) {
        var i = 1,
            target, key;
        for (; i < arguments.length; i++) {
            target = arguments[i];
            for (key in target) {
                if (Object.prototype.hasOwnProperty.call(target, key)) {
                    obj[key] = target[key]
                }
            }
        }
        return obj
    }

    function marked(src, opt, callback) {
        if (callback || typeof opt === "function") {
            if (!callback) {
                callback = opt;
                opt = null
            }
            opt = merge({}, marked.defaults, opt || {});
            var highlight = opt.highlight,
                tokens, pending, i = 0;
            try {
                tokens = Lexer.lex(src, opt)
            } catch (e) {
                return callback(e)
            }
            pending = tokens.length;
            var done = function (err) {
                if (err) {
                    opt.highlight = highlight;
                    return callback(err)
                }
                var out;
                try {
                    out = Parser.parse(tokens, opt)
                } catch (e) {
                    err = e
                }
                opt.highlight = highlight;
                return err ? callback(err) : callback(null, out)
            };
            if (!highlight || highlight.length < 3) {
                return done()
            }
            delete opt.highlight;
            if (!pending) {
                return done()
            }
            for (; i < tokens.length; i++) {
                (function (token) {
                    if (token.type !== "code") {
                        return --pending || done()
                    }
                    return highlight(token.text, token.lang, function (err, code) {
                        if (err) {
                            return done(err)
                        }
                        if (code == null || code === token.text) {
                            return --pending || done()
                        }
                        token.text = code;
                        token.escaped = true;
                        --pending || done()
                    })
                })(tokens[i])
            }
            return
        }
        try {
            if (opt) {
                opt = merge({}, marked.defaults, opt)
            }
            return Parser.parse(Lexer.lex(src, opt), opt)
        } catch (e) {
            e.message += "\nPlease report this to https://github.com/chjj/marked.";
            if ((opt || marked.defaults).silent) {
                return "<p>An error occured:</p><pre>" + escape(e.message + "", true) + "</pre>"
            }
            throw e
        }
    }
    marked.options = marked.setOptions = function (opt) {
        merge(marked.defaults, opt);
        return marked
    };
    marked.defaults = {
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: false,
        sanitizer: null,
        mangle: true,
        smartLists: false,
        silent: false,
        highlight: null,
        langPrefix: "lang-",
        smartypants: false,
        headerPrefix: "",
        renderer: new Renderer,
        xhtml: false
    };
    marked.Parser = Parser;
    marked.parser = Parser.parse;
    marked.Renderer = Renderer;
    marked.Lexer = Lexer;
    marked.lexer = Lexer.lex;
    marked.InlineLexer = InlineLexer;
    marked.inlineLexer = InlineLexer.output;
    marked.parse = marked;
    if (typeof module !== "undefined" && typeof exports === "object") {
        module.exports = marked
    } else {
        if (typeof define === "function" && define.amd) {
            define(function () {
                return marked
            })
        } else {
            this.marked = marked
        }
    }
}).call(function () {
    return this || (typeof window !== "undefined" ? window : global)
}());
</script>

<!--chips-->

<script>
  Materialize={};Materialize.guid=(function(){function s4(){return Math.floor((1+Math.random())*65536).toString(16).substring(1)}return function(){return s4()+s4()+"-"+s4()+"-"+s4()+"-"+s4()+"-"+s4()+s4()+s4()}})();(function($){var materialChipsDefaults={data:[],placeholder:"",secondaryPlaceholder:"",autocompleteOptions:{},};$(document).ready(function(){$(document).on("click",".chip .close",function(e){var $chips=$(this).closest(".chips");if($chips.attr("data-initialized")){return}$(this).closest(".chip").remove()})});$.fn.material_chip=function(options){var self=this;this.$el=$(this);this.$document=$(document);this.SELS={CHIPS:".chips",CHIP:".chip",INPUT:"input",DELETE:".material-icons",SELECTED_CHIP:".selected",};if("data"===options){return this.$el.data("chips")}var curr_options=$.extend({},materialChipsDefaults,options);self.hasAutocomplete=!$.isEmptyObject(curr_options.autocompleteOptions.data);this.init=function(){var i=0;var chips;self.$el.each(function(){var $chips=$(this);var chipId=Materialize.guid();self.chipId=chipId;if(!curr_options.data||!(curr_options.data instanceof Array)){curr_options.data=[]}$chips.data("chips",curr_options.data);$chips.attr("data-index",i);$chips.attr("data-initialized",true);if(!$chips.hasClass(self.SELS.CHIPS)){$chips.addClass("chips")}self.chips($chips,chipId);i++})};this.handleEvents=function(){var SELS=self.SELS;self.$document.off("click.chips-focus",SELS.CHIPS).on("click.chips-focus",SELS.CHIPS,function(e){$(e.target).find(SELS.INPUT).focus()});self.$document.off("click.chips-select",SELS.CHIP).on("click.chips-select",SELS.CHIP,function(e){var $chip=$(e.target);if($chip.length){var wasSelected=$chip.hasClass("selected");var $chips=$chip.closest(SELS.CHIPS);$(SELS.CHIP).removeClass("selected");if(!wasSelected){self.selectChip($chip.index(),$chips)}}});self.$document.off("keydown.chips").on("keydown.chips",function(e){if($(e.target).is("input, textarea")){return}var $chip=self.$document.find(SELS.CHIP+SELS.SELECTED_CHIP);var $chips=$chip.closest(SELS.CHIPS);var length=$chip.siblings(SELS.CHIP).length;var index;if(!$chip.length){return}if(e.which===8||e.which===46){e.preventDefault();index=$chip.index();self.deleteChip(index,$chips);var selectIndex=null;if((index+1)<length){selectIndex=index}else{if(index===length||(index+1)===length){selectIndex=length-1}}if(selectIndex<0){selectIndex=null}if(null!==selectIndex){self.selectChip(selectIndex,$chips)}if(!length){$chips.find("input").focus()}}else{if(e.which===37){index=$chip.index()-1;if(index<0){return}$(SELS.CHIP).removeClass("selected");self.selectChip(index,$chips)}else{if(e.which===39){index=$chip.index()+1;$(SELS.CHIP).removeClass("selected");if(index>length){$chips.find("input").focus();return}self.selectChip(index,$chips)}}}});self.$document.off("focusin.chips",SELS.CHIPS+" "+SELS.INPUT).on("focusin.chips",SELS.CHIPS+" "+SELS.INPUT,function(e){var $currChips=$(e.target).closest(SELS.CHIPS);$currChips.addClass("focus");$currChips.siblings("label, .prefix").addClass("active");$(SELS.CHIP).removeClass("selected")});self.$document.off("focusout.chips",SELS.CHIPS+" "+SELS.INPUT).on("focusout.chips",SELS.CHIPS+" "+SELS.INPUT,function(e){var $currChips=$(e.target).closest(SELS.CHIPS);$currChips.removeClass("focus");if($currChips.data("chips")===undefined||!$currChips.data("chips").length){$currChips.siblings("label").removeClass("active")}$currChips.siblings(".prefix").removeClass("active")});self.$document.off("keydown.chips-add",SELS.CHIPS+" "+SELS.INPUT).on("keydown.chips-add",SELS.CHIPS+" "+SELS.INPUT,function(e){var $target=$(e.target);var $chips=$target.closest(SELS.CHIPS);var chipsLength=$chips.children(SELS.CHIP).length;if(13===e.which){if(self.hasAutocomplete&&$chips.find(".autocomplete-content.dropdown-content").length&&$chips.find(".autocomplete-content.dropdown-content").children().length){return}e.preventDefault();self.addChip({tag:$target.val()},$chips);$target.val("");return}if((8===e.keyCode||37===e.keyCode)&&""===$target.val()&&chipsLength){e.preventDefault();self.selectChip(chipsLength-1,$chips);$target.blur();return}});self.$document.off("click.chips-delete",SELS.CHIPS+" "+SELS.DELETE).on("click.chips-delete",SELS.CHIPS+" "+SELS.DELETE,function(e){var $target=$(e.target);var $chips=$target.closest(SELS.CHIPS);var $chip=$target.closest(SELS.CHIP);e.stopPropagation();self.deleteChip($chip.index(),$chips);$chips.find("input").focus()})};this.chips=function($chips,chipId){$chips.empty();$chips.data("chips").forEach(function(elem){$chips.append(self.renderChip(elem))});$chips.append($('<input id="'+chipId+'" class="input mdui-textfield-input" placeholder="">'));self.setPlaceholder($chips);var label=$chips.next("label");if(label.length){label.attr("for",chipId);if($chips.data("chips")!==undefined&&$chips.data("chips").length){label.addClass("active")}}var input=$("#"+chipId);if(self.hasAutocomplete){curr_options.autocompleteOptions.onAutocomplete=function(val){self.addChip({tag:val},$chips);input.val("");input.focus()
};input.autocomplete(curr_options.autocompleteOptions)}};this.renderChip=function(elem){if(!elem.tag){return}var $renderedChip=$('<div class="mdui-chip chip mdui-chip-title"></div>');$renderedChip.text(elem.tag);if(elem.image){$renderedChip.prepend($("<img />").attr("src",elem.image))}$renderedChip.append($('<i class="material-icons mdui-icon close">close</i>'));return $renderedChip};this.setPlaceholder=function($chips){if($chips.data("chips")!==undefined&&$chips.data("chips").length&&curr_options.placeholder){$chips.find("input").prop("placeholder",curr_options.placeholder)}else{if(($chips.data("chips")===undefined||!$chips.data("chips").length)&&curr_options.secondaryPlaceholder){$chips.find("input").prop("placeholder",curr_options.secondaryPlaceholder)}}};this.isValid=function($chips,elem){var chips=$chips.data("chips");var exists=false;for(var i=0;i<chips.length;i++){if(chips[i].tag===elem.tag){exists=true;return}}return""!==elem.tag&&!exists};this.addChip=function(elem,$chips){if(!self.isValid($chips,elem)){return}var $renderedChip=self.renderChip(elem);var newData=[];var oldData=$chips.data("chips");for(var i=0;i<oldData.length;i++){newData.push(oldData[i])}newData.push(elem);$chips.data("chips",newData);$renderedChip.insertBefore($chips.find("input"));$chips.trigger("chip.add",elem);self.setPlaceholder($chips)};this.deleteChip=function(chipIndex,$chips){var chip=$chips.data("chips")[chipIndex];$chips.find(".chip").eq(chipIndex).remove();var newData=[];var oldData=$chips.data("chips");for(var i=0;i<oldData.length;i++){if(i!==chipIndex){newData.push(oldData[i])}}$chips.data("chips",newData);$chips.trigger("chip.delete",chip);self.setPlaceholder($chips)};this.selectChip=function(chipIndex,$chips){var $chip=$chips.find(".chip").eq(chipIndex);if($chip&&false===$chip.hasClass("selected")){$chip.addClass("selected");$chips.trigger("chip.select",$chips.data("chips")[chipIndex])}};this.getChipsElement=function(index,$chips){return $chips.eq(index)};this.init();this.handleEvents()}}(jQuery));
</script>
<script>
$(function(){
$('.chips-initial').material_chip({
});
$('.chips-placeholder').material_chip({
    placeholder: 'Enter a tag',
    secondaryPlaceholder: '+Tag',
});
  /* save */
  function getTags(e){
    var tags = "";
    for (x in e){
      if (e[x] != ""){
        tags += e[x].tag+" ";
      }
    }
    return tags;
  }
  function setTags(e){
    var tags = [];

    for (x in e){
      if (e[x] != ''){
        tags[x]=  {'tag':e[x]};
      }
    }
    return tags;
  }
  function getpost(){
    $('#editorContent').val(localStorage.previewContent);
    $('#editorTitle').val(localStorage.editorTitle);
    $('#editorDate').val(localStorage.editorDate);
    $('#imgurl').val(localStorage.imgurl);
    if (localStorage.categories){
      if (localStorage.categories.indexOf("radio_custom") == -1){
        $("input[value='"+ localStorage.categories +"']").attr('checked','');
      }else{
        $("input[value='radio_custom']").attr('checked','');
        $('#editorCategories').val(localStorage.categories.replace("radio_custom",''));
      }
    }
    if (localStorage.editorChips){
      var data =  setTags(localStorage.editorChips.split(' '));
      $('.chips-initial').material_chip({
        data: data,
      });
    }
  }
   getpost();
  function setpost(){
    localStorage.previewContent = $('#editorContent').val();
    localStorage.editorTitle = $('#editorTitle').val();
    localStorage.editorDate = $('#editorDate').val();
    localStorage.imgurl = $('#imgurl').val();
    if ($("input[name='categories']:checked").val() == "radio_custom" ){
      localStorage.categories = $("input[name='categories']:checked").val() + $('#editorCategories').val();
    }else{
      localStorage.categories = $("input[name='categories']:checked").val();
    }
    localStorage.editorChips = getTags($('.chips-initial').material_chip('data'));
  }

  setInterval(function(){
    setpost();
  },5000);

  /*preview*/
  $("#previewBtn").click(function(){
    $('#previewContent').html(marked($('#editorContent').val()));
    $('.mdui-card-primary-title').html($('#editorTitle').val());
    $('.k-data').html($('#editorDate').val());
    $('.k-post-media').css('background-image','url('+ $('#imgurl').val() +')');
  });
  /*download*/
  var textFile = null;
  function makeTextFile(text){
    var data = new Blob([text], {
      type: 'text/plain'
    });
    if (textFile !== null) {
      window.URL.revokeObjectURL(textFile);
    }
    textFile = window.URL.createObjectURL(data);
    return textFile;
  }

  $('#download').click(function(){
    var filename,filecontent;

    function k_getFiletitle(e){
      var title = e.toLowerCase().split(" ");
      var newtitle = "";
      for (x in title){
        if (parseInt(x)+1 == title.length){
            newtitle += title[x];
        }else{
            newtitle += title[x]+"-";
        }
      }
      return newtitle;
    }

    function k_getCategories(e){
      if (e == "radio_custom" ){
        return $('#editorCategories').val();
      }else{
        return e;
      }
    }

    filename = new Date().toLocaleDateString('zh-CN', { hour12: false},'year,month').replace(/\//g,"-") + "-" + k_getFiletitle($('#editorTitle').val()) + ".markdown";
    filecontent = "---\nlayout: post\ntitle: "+$('#editorTitle').val()+"\ndate: "+$('#editorDate').val()+" "+ new Date().toLocaleTimeString('en-US', { hour12: false }) +" +0800\ncategories: "+k_getCategories($("input[name='categories']:checked").val())+"\ntags: "+getTags($('.chips-initial').material_chip('data'))+"\nimg: "+$('#imgurl').val()+"\n---\n"+$('#editorContent').val();
    $(this).attr("download",filename);
    $(this).attr("href",makeTextFile(filecontent));
  });
});
</script>